=form_with model: @evalution, url: evaluate_user_item_contact_path(@item), local: true do |f|
  .form-group
    = f.label :type
    %br
    = f.select :type, Evalution.tyeps.keys
  .form-group
    = f.label :text
    %br
    = f.text_field :text
  = f.submit