= form_with model: @address, url: add_address_item_procedure_path(@item), local: true do |f|
  .form-group
    = f.label :zipcode
    %br
    = f.text_field :zipcode
  .form-group
    = f.label :prefecture_num
    %br
    =  f.select :prefecture_num, Address.prefecture_nums.keys
  .form-group
    = f.label :address1
    %br
    = f.text_field :address1
  .form-group
    = f.label :address2
    %br
    = f.text_field :address2
  .form-group
    = f.label :name
    %br
    = f.text_field :name
  .form-group
    = f.label :phone_number
    %br
    = f.text_field :phone_number
  %br
  = f.submit
  /既存の住所がある場合は、プルダウンメニューで選択できるようにする
= form_with model: @address, url: item_procedure_path(@item), local: true do |f|
  .form-group
    = f.label :id
  %br
    = f.collection_select :id, Address.where(user: current_user), :id, :address_info
  = f.submit
    