%h2= @item.name
%ul
  %li="出品者 #{@item.user.name}"
  %li= "カテゴリー #{@item&.category&.name}"
  %li= "商品の状態 #{@item.item_status}"
  - if @item.include_shipping_fee == true
    - fee= "送料込み(出品者負担)"
  - else
    - fee= "送料別(購入者負担)"
  %li= "送料の負担 #{fee}"
  %li= "#{@item.price}円"
%p= @item.text
- @item.images.each do |image|
  = image_tag image.url

- if @item.user_id == current_user.id
  = button_to "編集", edit_item_path(@item), method: :get
  = button_to "削除", item_path(@item), method: :delete, data: { confirm: "are you sure?" }
= link_to '一覧に戻る', items_path
